body {
	background-image: url('../images/hangman_background.jpg');
	background-size: 400px 900px;
	padding: 30px 60px;
}

.instructions {
	margin: 0 auto;
	position: fixed;
	z-index: 3;
	height: 720px;
	width: 1200px;
	background-color: red;
	text-align: center;
	border: solid black 3px;
	border-radius: 10px;
}

#inst_heading {
	font-family: Tahoma;
	font-size: 50px;
}

#inst_paragraph {
	font-family: Tahoma;
	font-size: 25px;
}

#inst_button {
	height: 75px;
	width: 75px;
	font-size: 18px;
}

.game {
	margin: 0 auto;
	position: fixed;
	z-index: 2;
	height: 720px;
	width: 1200px;
	background-color: red;
	text-align: center;
	border: solid black 3px;
	border-radius: 10px;
}

.letter, .blanks {
	margin: 15px;
	display: inline-block;
	/*height: 300px;*/
	/*width: 400px;*/
	font-family: verdana;
	font-size: 30px;
}

#pole_top {
	margin: 0 auto;
	display: inline-block;
	position: fixed;
	float: top;
	height: 10px;
	width: 168px;
	background-color: black;
	border-radius: 100px;
}

#pole {
	margin: 0 auto;
	margin-top: 50px;
	display: inline-block;
	float: top-center;
	height: 250px;
	width: 10px;
	background-color: black;
	border-radius: 100px;
}

#rope {
	margin: 0 auto;
	display: block;
	float: center;
	height: 30px;
	width: 10px;
	background-color: black;
	border-radius: 100px;
}

.hangman {
	display: inline-block;
	float: center;
	padding: 1px 50px;
}

.pole {
	display: inline-block;
	float: center;
	padding: 1px 50px;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

#head {
	margin: 0 auto;
	display: block;
	float: 100%;
	height: 40px;
	width: 40px;
	background-color: black;
	border-radius: 100px;
}

#left_arm {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 20px;
	background-color: black;
	border-radius: none;
}

#body {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 60px;
	background-color: black;
	border-radius: 100px;
}

#right_arm {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 20px;
	background-color: black;
	border-radius: none;
}

#left_leg {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 20px;
	background-color: black;
	border-radius: none;
}

#right_leg {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 20px;
	background-color: black;
	border-radius: none;
}

.end {
	margin: 0 auto;
	position: fixed;
	z-index: 1;
	height: 720px;
	width: 1200px;
	background-color: red;
	text-align: center;
	border: solid black 3px;
	border-radius: 10px;
}