body {
	margin: 0 auto;
	background-image: url('../images/table.jpg');
	background-size: 800px 800px;
	padding: 30px 60px;
}

.instructions {
	margin: 0 auto;
	position: fixed;
	z-index: 2;
	height: 770px;
	width: 1200px;
	background-image: url('../images/notebook.jpg');
	background-size: 720px 1200px;
	text-align: center;
	border: solid black 3px;
	border-radius: 10px;
}

#inst_heading {
	font: 400 100px/1.0 'Fancy', Helvetica, sans-serif;
	color: #969595;
	text-shadow: 0px 3px 0px #5e5e5e, 0px 5px 0px #4d4d4d, 0px 7px 0px #3c3c3c, 0px 9px 0px #2b2b2b, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
}

#inst_paragraph {
	font-family: Tahoma;
	font-size: 25px;
}

#inst_button_easy {
	color: #900;
	font-size: 30px;
	height: 80px;
	width: 200px;
	background: #FF0;
	font-weight: bold;
	border: 1px solid #900;
}

#inst_button_easy:hover {
	cursor: pointer;
}

#inst_button_hard {
	color: #900;
	font-size: 30px;
	height: 80px;
	width: 200px;
	background: #FF0;
	font-weight: bold;
	border: 1px solid #900;
}

#inst_button_hard:hover {
	cursor: pointer;
}

.game {
	margin: 0 auto;
	position: fixed;
	z-index: 1;
	height: 770px;
	width: 1200px;
	background-image: url('../images/notebook.jpg');
	background-size: 720px 1200px;
	text-align: center;
	border: solid black 3px;
	border-radius: 10px;
}

.timer {
	font-family: arial;
	font-size: 12px;
}

.letter, .blanks {
	margin: 15px;
	display: inline-block;
	font: 100 50px/1.3 'Oleo Script', Helvetica, sans-serif;
  	color: #2b2b2b;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  	cursor: pointer;
}

#pole_top {
	margin: 0 auto;
	display: inline-block;
	position: fixed;
	float: top;
	height: 10px;
	width: 168px;
	background-color: black;
	border-radius: 100px;
}

#pole {
	margin: 0 auto;
	margin-top: 50px;
	display: inline-block;
	float: top-center;
	height: 250px;
	width: 10px;
	background-color: black;
	border-radius: 100px;
}

#rope {
	margin: 0 auto;
	display: block;
	float: center;
	height: 30px;
	width: 10px;
	background-color: black;
	border-radius: 100px;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.hangman {
	display: inline-block;
	float: center;
	padding: 1px 50px;
}

.pole {
	display: inline-block;
	float: center;
	padding: 1px 50px;
}

#head {
	margin: 0 auto;
	display: block;
	float: 100%;
	height: 40px;
	width: 40px;
	background-color: red;
	border-radius: 100px;
}

#left_eye {
	margin: 0 auto;
	display: inline-block;
	float: 100%;
	height: 10px;
	width: 10px;
	background-color: black;
	border-radius: 100px;
}

#right_eye {
	margin: 0 auto;
	display: inline-block;
	float: 100%;
	height: 10px;
	width: 10px;
	background-color: black;
	border-radius: 100px;
}

#mouth {
	margin: 0 auto;
	display: block;
	float: 100%;
	width:10px; height:10px;  
	border:solid 5px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 50%/80px 80px 0 0;
	}

#left_arm {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 20px;
	background-color: black;
	border-radius: none;
}

#body {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 60px;
	background-color: black;
	border-radius: 100px;
}

#right_arm {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 20px;
	background-color: black;
	border-radius: none;
}

#left_leg {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 20px;
	background-color: black;
	border-radius: none;
}

#right_leg {
	margin: 0 auto;
	display: inline-block;
	float: center;
	height: 90px;
	width: 20px;
	background-color: black;
	border-radius: none;
}

#game_button{
	color: #900;
	font-size: 30px;
	height: 80px;
	width: 200px;
	background: #FF0;
	font-weight: bold;
	border: 1px solid #900;
}

#game_button:hover {
	cursor: pointer;
}

.bottom_left {
	display: inline-block;
	padding: 5px 5px;
}

.bottom_center_left {
	display: inline-block;
	padding: 5px 5px;
}

.bottom_center_right {
	display: inline-block;
	padding: 5px 5px;
}

.bottom_right {
	display: inline-block;
	padding: 5px 5px;
}

.bottom_left img {
	height: 150px;
	width: 150px;
}

.bottom_center_left img {
	height: 170px;
	width: 150px;
}

.bottom_center_right img {
	height: 200px;
	width: 150px;
}

.bottom_right img {
	height: 200px;
	width: 200px;
}